<html>
  <head>
    <title>Network Speed</title>
  </head>
  <body>
    <h1>Network Speed</h1>
    <table border=1>
      <tr>
	<th></th>
	{{ $s1s := .Servers }}
	{{ $s2s := .Servers2 }}
	{{ $tmap := .Timing }}
	{{ range $server3 := .Servers }}
	<th>{{$server3}}</th>
	{{end}}
      </tr>
      {{ range $server1 := $s1s }}
        <tr>
	  <td><b>{{$server1}}</b></td>
          {{ range $server2 := $s2s }}
  	    <td>{{index $tmap $server1 $server2}}</td>
	    {{end}}
        </tr>
      {{end}}
    </table>
  </body>
</html>
